@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-weight: lighter;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 1;
}

.main {
    flex: 1;
    background-color: #F5F5FA;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.navbar {
    z-index: 1;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
    font-size: 12px;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: auto;
        min-height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}


/*
    MAIN CONTENT STYLES
*/
.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-content .level {
    margin-bottom: 0.8rem;  
}

/*
    BUTTON
*/
.button {
    font-weight: 400;
}

.button.no-text .icon {
    padding-right: 10px;
}

.button .icon {
    clear: both;
    font-size: 14px;
    margin-top: 3px;
    padding-right: 25px;
    padding-left: 10px;
}

/*
    PANEL
*/
.panel {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08)
}

.panel-heading .level {
    margin-bottom: 0px;
}

.panel-block {
    background-color: #FFFFFF;
    padding: 20px 15px 5px 15px;
    border-radius: 0px 0px 4px 4px;
}

.panel-primary .panel-heading {
    background-color: hsl(171, 100%, 41%);
    border: none;
    color: #FFFFFF;
}

.panel-heading {
    font-weight: 400;
}

/*
    TABLE
*/
.table thead tr th {
    font-weight: 600;
}

/*
    FORM
*/
form {
    width: 100%;
    margin-bottom: 20px;
}

.form-control {
    color: #495057;
}

.form-group input[type=date] {
    padding-left: 5px;
    padding-right: 5px;
}

.form-group label {
    font-weight: 400;
    color: hsl(0, 0%, 14%);
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

/*
    TOAST NOTIFICATIONS
*/
.blazored-toast-heading {
    text-transform: capitalize !important;
}

/*
    MODAL DIALOG
*/
.modal-content {
    border-radius: 0.4rem;
}

.modal-backdrop.show {
    z-index: 1;
}

.modal-open {
    padding-right: 0px !important;
}

.modal-title {
    font-size: 18px;
    font-weight: 600;
}

#mycalendar {
    width: 100%;
    margin: 2em auto 0 auto;
    margin-top: 0;
    max-width: 80em;
    border: 1px solid #666;
}