﻿.login-page {
    min-height: 100vh;
}

.login-page .avatar-icon img {
    margin-top: -80px;
    width: 128px;
    height: 128px;
}

.text-danger {
    font-size: 11px;
}

input.input {
    font-weight: lighter;
}

.validation-summary-errors ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

.validation-summary-errors ul li {
    font-size: 12px;
    color: #dc3545;
}

.validation-summary-errors ul li:before {
    content: "* ";       
}