﻿@page "/logs"

@attribute [Authorize]

@inject NavigationManager Navigation
@inject IEmployeeLogService logService
@inject IToastService toastService

<div class="columns">
    <div class="column is-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <p>
                                My Personal Logs
                            </p>
                        </div>
                    </div>
                    <div class="is-pulled-right">
                        <button class="button is-success" @onclick="TimeIN">
                            <span class="icon" style="padding-left: 20px; padding-right: 10px; margin-right: 10px;">
                                <i class="fas fa-clock"></i>
                            </span>
                            Time In
                        </button>

                        <button class="button is-danger" @onclick="TimeOUT">
                            <span class="icon" style="padding-left: 20px; padding-right: 10px; margin-right: 10px;">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            Time Out
                        </button>
                    </div>
                </nav>
            </div>
            <div class="panel-block is-paddingless">
                <Table Class="table" IsHoverable="true" IsStriped="true" Theme="Theme.Light">
                    <TableHeader>
                        <TableRow Background="Background.Secondary" TextColor="TextColor.Light">
                            <TableHeaderCell>Log Id</TableHeaderCell>
                            <TableHeaderCell>Employee</TableHeaderCell>
                            <TableHeaderCell>Log</TableHeaderCell>
                            <TableHeaderCell Class="has-text-centered">Time Mode</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    @if (employeeLogs != null && employeeLogs.Any())
                    {
                        <TableBody>
                            @foreach (var log in employeeLogs)
                            {
                                <TableRow>
                                    <TableRowCell>@log.LogId</TableRowCell>
                                    <TableRowCell>
                                        @(string.Format("{0}{1}",
                                            string.IsNullOrEmpty(log.EmployeeFirstName) ? "" : log.EmployeeFirstName + " ",
                                            string.IsNullOrEmpty(log.EmployeeLastName) ? "" : log.EmployeeLastName))
                                    </TableRowCell>
                                    <TableRowCell>@(log.TimeIn != null ? string.Format("{0:MMM dd yyyy: hh:mm tt}", log.TimeIn) : string.Format("{0:MMM dd yyyy: hh:mm tt}", log.TimeOut))</TableRowCell>
                                    <TableRowCell Class="has-text-centered">@(log.TimeIn != null ? "IN" : "OUT")</TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    }
                    else
                    {
                        <TableFooter>
                            <TableRow>
                                <TableRowCell Class="has-text-centered" ColumnSpan="4">No records found</TableRowCell>
                            </TableRow>
                        </TableFooter>
                    }
                </Table>
            </div>
        </div>
    </div>
</div>

<AllEmployeeLogs />

@code {
    public List<LogDto> employeeLogs = new List<LogDto>();

    protected override async Task OnInitializedAsync()
    {
        employeeLogs = await logService.GetLogsByEmployee();
    }

    public async Task TimeIN()
    {
        var response = await logService.TimeIn();
        if (response)
        {
            toastService.ShowSuccess("You are successfully Time IN.", "Success");
            employeeLogs = await logService.GetLogsByEmployee();
        }
        else
        {
            toastService.ShowError("Your request failed.", "Faild");
        }
    }

    public async Task TimeOUT()
    {
        var response = await logService.TimeOUT();
        if (response)
        {
            toastService.ShowSuccess("You are successfully Time OUT.", "Success");
            employeeLogs = await logService.GetLogsByEmployee();
        }
        else
        {
            toastService.ShowError("Your request failed.", "Faild");
        }
    }
}