﻿@inject IUserService userService

<EditForm Model=@user>
    <div class="form-group">
        <label for="Username">Username</label>
        <InputText readonly="readonly" @bind-Value="user.Username" class="form-control" id="username" />
        <ValidationMessage For="@(() => user.Username)" />
    </div>
    <div class="form-group">
        <label for="DisplayName">Display Name</label>
        <InputText readonly="readonly" type="text" @bind-Value="user.DisplayName" class="form-control" id="displayName" />
        <ValidationMessage For="@(() => user.DisplayName)" />
    </div>
    <div class="form-group">
        <label for="LastLoggedIn">Last LoggedIn</label>
        <InputText readonly="readonly" @bind-Value="user.LastLoggedIn" class="form-control" id="lastLoggedIn" />
        <ValidationMessage For="@(() => user.LastLoggedIn)" />
    </div>
</EditForm>

@functions {
    [Parameter]
    public int UserId { get; set; }

    public UserEditModel user = new UserEditModel();

    protected override async Task OnParametersSetAsync()
    {
        user = await userService.GetById(UserId);
    }
}