﻿@page "/users"

@attribute [Authorize]

@inject NavigationManager Navigation
@inject IUserService userService
@inject IToastService toastService

<div class="panel panel-primary">
    <div class="panel-heading is-primary">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p>
                        Users
                    </p>
                </div>
            </div>
            <!-- Right side -->
            <div class="is-pulled-right">
                <Button Color="Color.Link" Clicked="@OnAddUser">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    Add User
                </Button>
            </div>
        </nav>
    </div>
    <div class="panel-block is-paddingless">
        <Table Class="table" IsHoverable="true" IsStriped="true" Theme="Theme.Light">
            <TableHeader>
                <TableRow Background="Background.Secondary" TextColor="TextColor.Light">
                    <TableHeaderCell>User ID</TableHeaderCell>
                    <TableHeaderCell>Username</TableHeaderCell>
                    <TableHeaderCell>Display Name</TableHeaderCell>
                    <TableHeaderCell>Last LoggedIn</TableHeaderCell>
                    <TableHeaderCell Class="has-text-centered">Action</TableHeaderCell>
                </TableRow>
            </TableHeader>
            @if (users != null && users.Any())
            {
                <TableBody>
                    @foreach (var user in users)
                    {
                        <TableRow>
                            <TableRowCell>@user.Id</TableRowCell>
                            <TableRowCell>
                                <a href="javascript:void(0)" @onclick="@(args => OnUserDetails(user.Id))" data-toggle="modal" data-target="#modalUserDetails">@user.Username</a>
                            </TableRowCell>
                            <TableRowCell>@user.DisplayName</TableRowCell>
                            <TableRowCell>@user.LastLoggedIn</TableRowCell>
                            <TableRowCell Class="has-text-centered">
                                <Button Class="is-success is-small no-text" Clicked="@(args => OnEditUser(user.Id))">
                                    <span class="icon">
                                        <i class="far fa-edit"></i>
                                    </span>
                                </Button>
                                <Button Class="is-danger is-small no-text" Clicked="@(args => OnUserDelete(user.Id, user.Username))" data-toggle="modal" data-target="#confirmDeleteDialog">
                                    <span class="icon">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </Button>
                            </TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            }
            else
            {
                <TableFooter>
                    <TableRow>
                        <TableRowCell Class="has-text-centered" ColumnSpan="5">No records found</TableRowCell>
                    </TableRow>
                </TableFooter>
            }
        </Table>
    </div>
</div>

<ModalContentDialog TargetId="modalUserDetails" Title="User Details">            
    <UserDetails UserId="@selectedUserId" />
</ModalContentDialog>

<ConfirmDeleteDialog TargetId="confirmDeleteDialog" SelectedItem="@selectedUsername" OnClick="OnConfirmUserDelete" />

@code {
    private int selectedUserId;
    private string selectedUsername;

    List<UserModel> users = new List<UserModel>();

    protected override async Task OnInitializedAsync()
    {
        users = await userService.GetList();
    }

    private void OnAddUser()
    {
        Navigation.NavigateTo("/users/add", false);
    }

    private void OnEditUser(int id)
    {
        Navigation.NavigateTo($"/users/edit/{id}", false);
    }

    private void OnUserDetails(int id)
    {
        selectedUserId = id;
    }

    private void OnUserDelete(int id, string username)
    {
        this.selectedUserId = id;
        this.selectedUsername = username;
    }

    private async Task OnConfirmUserDelete(string args)
    {
        var response = await userService.Delete(selectedUserId);

        if (response)
        {
            toastService.ShowSuccess("User successfully updated.", "Success");
            users = await userService.GetList();
        }
        else
            toastService.ShowError("Your request failed.", "Failed");
    }
}