﻿@page "/users/add"
@attribute [Authorize]

@inject NavigationManager Navigation
@inject IUserService userService
@inject IToastService toastService

<div class="columns">
    <div class="column is-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add User
            </div>
            <div class="panel-block">
                <EditForm Model=@user OnValidSubmit="@ValidFormSubmitted">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <label for="Username">Username</label>
                        <InputText @bind-Value="user.Username" class="form-control" id="username" />
                        <ValidationMessage For="@(() => user.Username)" />
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <InputText type="password" @bind-Value="user.Password" class="form-control" id="password" />
                        <ValidationMessage For="@(() => user.Password)" />
                    </div>
                    <div class="form-group">
                        <label for="DisplayName">Display Name</label>
                        <InputText type="text" @bind-Value="user.DisplayName" class="form-control" id="displayName" />
                        <ValidationMessage For="@(() => user.DisplayName)" />
                    </div>
                    <div class="form-group">
                        <Button Class="is-pulled-right" Type="ButtonType.Submit" Color="Color.Link" Style="margin-top: 20px;">
                            <span class="icon">
                                <i class="fas fa-save"></i>
                            </span>
                            Save
                        </Button>
                    </div>
                </EditForm>
            </div>
        </div>

        <button class="button" @onclick="GoBackToList">
            <span class="icon">
                <i class="fas fa-angle-left"></i>
            </span>
            Go back to List
        </button>
    </div>
</div>

@code {
    public UserEntry user = new UserEntry();

    protected override void OnInitialized()
    {

    }

    public async Task ValidFormSubmitted(EditContext editContext)
    {
        var viewmodel = await userService.Create(user);
        if (viewmodel.Id > 0)
        {
            toastService.ShowSuccess("User successfully added.", "Success");

            GoBackToList();
        }
        else
        {
            toastService.ShowError("Your request failed.", "Failed");
        }
    }

    public void GoBackToList()
    {
        Navigation.NavigateTo("/users", false);
    }
}