﻿@page "/holiday/edit/{HolidayId:int}"

@attribute [Authorize]

@inject IJSRuntime JSRuntime;
@inject NavigationManager Navigation
@inject IHolidayService holidayService
@inject IUserService userService
@inject IToastService toastService

<div class="columns">
    <div class="column is-6">
        <div class="panel is-link">
            <div class="panel-heading">
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <p>
                                Holiday Entry
                            </p>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="panel-block">
                <EditForm Model=@holidayEntry OnValidSubmit="@ValidFormSubmitted">

                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="startDate">Start Date</label>
                                <InputDate @bind-Value="holidayEntry.StartDate" class="form-control" id="startDate" />
                                <ValidationMessage For="@(() => holidayEntry.StartDate)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="endDate">End Date</label>
                                <InputDate @bind-Value="holidayEntry.EndDate" class="form-control" id="endDate" />
                                <ValidationMessage For="@(() => holidayEntry.EndDate)" />
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="name">Name</label>
                                <InputText @bind-Value="holidayEntry.Name" class="form-control" id="name" />
                                <ValidationMessage For="@(() => holidayEntry.Name)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="description">Description</label>
                                <InputTextArea @bind-Value="holidayEntry.Description" class="form-control" id="description" />
                                <ValidationMessage For="@(() => holidayEntry.Description)" />
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="holidayType">Holiday Type</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <InputSelect @bind-Value="holidayEntry.HolidayType" class="form-control" id="holidayType">
                                            <option value=""></option>
                                            <option value="REG">Regular</option>
                                            <option value="SPL">Special</option>
                                            <option value="COMP">Company</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => holidayEntry.HolidayType)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="yearly">Yearly</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <InputSelect @bind-Value="holidayEntry.YearlyString" class="form-control" id="yearly">
                                            <option value=""></option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => holidayEntry.YearlyString)" />
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="Active">Active</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <InputSelect @bind-Value="holidayEntry.ActiveString" class="form-control" id="active">
                                            <option value=""></option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => holidayEntry.ActiveString)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <Button Class="is-pulled-right" Type="ButtonType.Submit" Color="Color.Link" Style="margin-top: 20px;">
                            <span class="icon">
                                <i class="fas fa-pen"></i>
                            </span>
                            Upadate
                        </Button>
                    </div>
                </EditForm>
            </div>
        </div>
        <button class="button" @onclick="GoBackToList">
            <span class="icon">
                <i class="fas fa-angle-left"></i>
            </span>
            Go back to List
        </button>
    </div>
</div>

@code {
    [Parameter]
    public int HolidayId { get; set; }

    public HolidayDto holidayEntry = new HolidayDto();

    protected override async Task OnInitializedAsync()
    {
        holidayEntry = await holidayService.GetByIdAsync(HolidayId);
        holidayEntry.ActiveString = holidayEntry.Active != null && holidayEntry.Active.Value ? "Yes" : "No" ;
        holidayEntry.YearlyString = holidayEntry.Yearly != null && holidayEntry.Yearly.Value ? "Yes" : "No";
    }

    public async Task ValidFormSubmitted(EditContext editContext)
    {
        holidayEntry.Active = holidayEntry.ActiveString.Equals("Yes");
        holidayEntry.Yearly = holidayEntry.YearlyString.Equals("Yes");

        var viewmodel = await holidayService.UpdateAsync(holidayEntry);
        if (viewmodel.HolidayId > 0)
        {
            toastService.ShowSuccess("Holiday successfully updated.", "Success");
            GoBackToList();
        }
        else
        {
            toastService.ShowError("Your request failed.", "Failed");
        }
    }

    public void GoBackToList()
    {
        Navigation.NavigateTo("/holiday", false);
    }
}
