﻿@page "/holiday"

@attribute [Authorize]

@inject IJSRuntime JSRuntime;
@inject NavigationManager Navigation
@inject IHolidayService holidayService
@inject IUserService userService
@inject IToastService toastService

<div class="columns">
    <div class="column is-8">
        <div class="monthly" id="mycalendar"></div>
    </div>
    <div class="column is-4">
        <div class="panel is-link">
            <div class="panel-heading">
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <p>
                                Holiday Entry
                            </p>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="panel-block">
                <EditForm Model=@holidayEntry OnValidSubmit="@ValidFormSubmitted">

                    <DataAnnotationsValidator />

                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="startDate">Start Date</label>
                                <InputDate @bind-Value="holidayEntry.StartDate" class="form-control" id="startDate" />
                                <ValidationMessage For="@(() => holidayEntry.StartDate)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="endDate">End Date</label>
                                <InputDate @bind-Value="holidayEntry.EndDate" class="form-control" id="endDate" />
                                <ValidationMessage For="@(() => holidayEntry.EndDate)" />
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="name">Name</label>
                                <InputText @bind-Value="holidayEntry.Name" class="form-control" id="name" />
                                <ValidationMessage For="@(() => holidayEntry.Name)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="description">Description</label>
                                <InputTextArea @bind-Value="holidayEntry.Description" class="form-control" id="description" />
                                <ValidationMessage For="@(() => holidayEntry.Description)" />
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="holidayType">Holiday Type</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <InputSelect @bind-Value="holidayEntry.HolidayType" class="form-control" id="holidayType">
                                            <option value=""></option>
                                            <option value="REG">Regular</option>
                                            <option value="SPL">Special</option>
                                            <option value="COMP">Company</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => holidayEntry.HolidayType)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="yearly">Yearly</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <InputSelect @bind-Value="holidayEntry.YearlyString" class="form-control" id="yearly">
                                            <option value=""></option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => holidayEntry.YearlyString)" />
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="Active">Active</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <InputSelect @bind-Value="holidayEntry.ActiveString" class="form-control" id="active">
                                            <option value=""></option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => holidayEntry.ActiveString)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <Button Class="is-pulled-right" Type="ButtonType.Submit" Color="Color.Link" Style="margin-top: 20px;">
                            <span class="icon">
                                <i class="fas fa-save"></i>
                            </span>
                            Save
                        </Button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading is-primary">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p>
                        Holiday
                    </p>
                </div>
            </div>
        </nav>
    </div>
    <div class="panel-block is-paddingless">
        <Table Class="table" IsHoverable="true" IsStriped="true" Theme="Theme.Light">
            <TableHeader>
                <TableRow Background="Background.Secondary" TextColor="TextColor.Light">
                    <TableHeaderCell>Name</TableHeaderCell>
                    <TableHeaderCell>Description</TableHeaderCell>
                    <TableHeaderCell>Holiday Type</TableHeaderCell>
                    <TableHeaderCell>Start Date</TableHeaderCell>
                    <TableHeaderCell>End Date</TableHeaderCell>
                    <TableHeaderCell>Active</TableHeaderCell>
                    <TableHeaderCell>Yearly</TableHeaderCell>
                    <TableHeaderCell>Action</TableHeaderCell>
                </TableRow>
            </TableHeader>
            @if (holidays != null && holidays.Any())
            {
                <TableBody>
                    @foreach (var model in holidays)
                    {
                        <TableRow>
                            <TableRowCell>@model.Name</TableRowCell>
                            <TableRowCell>@model.Description</TableRowCell>
                            <TableRowCell>@model.HolidayType</TableRowCell>
                            <TableRowCell>@(string.Format("{0: MMM / dd / yyyy}", model.StartDate))</TableRowCell>
                            <TableRowCell>@(string.Format("{0: MMM / dd / yyyy}", model.EndDate))</TableRowCell>
                            <TableRowCell>@(model.Active != null && model.Active.Value ? "Yes" : "No")</TableRowCell>
                            <TableRowCell>@(model.Yearly != null && model.Yearly.Value ? "Yes" : "No")</TableRowCell>
                            <TableRowCell Class="has-text-centered">
                                <Button Class="is-success is-small no-text" Clicked="@(args => OnHolidayEdit(model.HolidayId))">
                                    <span class="icon">
                                        <i class="far fa-edit"></i>
                                    </span>
                                </Button>
                                <Button Class="is-danger is-small no-text" Clicked="@(args => OnHolidayDelete(model.HolidayId, model.Name))" data-toggle="modal" data-target="#confirmDeleteDialog">
                                    <span class="icon">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </Button>
                            </TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            }
            else
            {
                <TableFooter>
                    <TableRow>
                        <TableRowCell Class="has-text-centered" ColumnSpan="7">No records found</TableRowCell>
                    </TableRow>
                </TableFooter>
            }
        </Table>
    </div>
</div>

<ConfirmDeleteDialog TargetId="confirmDeleteDialog" SelectedItem="@selectedHolidayName" OnClick="OnConfirmHolidayDelete" />

@code {
    private int selectedHolidayId;
    private string selectedHolidayName;

    public HolidayDto holidayEntry = new HolidayDto();
    public List<HolidayDto> holidays = new List<HolidayDto>();

    protected override async Task OnInitializedAsync()
    {
        holidays = await holidayService.GetListAsync();
    }

    public async Task ValidFormSubmitted(EditContext editContext)
    {
        holidayEntry.Active = holidayEntry.ActiveString.Equals("Yes");
        holidayEntry.Yearly = holidayEntry.YearlyString.Equals("Yes");

        var viewmodel = await holidayService.CreateAsync(holidayEntry);

        if (viewmodel.HolidayId > 0)
        {
            toastService.ShowSuccess("Holiday successfully added.", "Success");
            holidays = await holidayService.GetListAsync();
        }
        else
        {
            toastService.ShowError("Your request failed.", "Failed");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            JSRuntime.InvokeVoidAsync("HolidayCalendar.OnInit");
    }

    private void OnHolidayEdit(int id)
    {
        Navigation.NavigateTo($"/holiday/edit/{id}", false);
    }

    private void OnHolidayDetails(int id)
    {
        selectedHolidayId = id;
    }

    private void OnHolidayDelete(int id, string firstName)
    {
        this.selectedHolidayId = id;
        this.selectedHolidayName = firstName;
    }

    private async Task OnConfirmHolidayDelete(string args)
    {
        var response = await holidayService.DeleteAsync(selectedHolidayId);

        if (response)
        {
            toastService.ShowSuccess("Holiday successfully updated.", "Success");
            holidays = await holidayService.GetListAsync();
        }
        else
            toastService.ShowError("Your request failed.", "Failed");
    }
}
