﻿@page "/employees"

@attribute [Authorize]

@inject NavigationManager Navigation
@inject IEmployeeService employeeService
@inject IToastService toastService

<div class="panel panel-primary">
    <div class="panel-heading is-primary">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p>
                        Employees
                    </p>
                </div>
            </div>
            <!-- Right side -->
            <div class="is-pulled-right">
                <Button Color="Color.Link" Clicked="@OnEmployeeAdd">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    Add Employee
                </Button>
            </div>
        </nav>
    </div>
    <div class="panel-block is-paddingless">
        <Table Class="table" IsHoverable="true" IsStriped="true" Theme="Theme.Light">
            <TableHeader>
                <TableRow Background="Background.Secondary" TextColor="TextColor.Light">
                    <TableHeaderCell>Employee ID</TableHeaderCell>
                    <TableHeaderCell>Employee Name</TableHeaderCell>
                    <TableHeaderCell>Age</TableHeaderCell>
                    <TableHeaderCell>Gender</TableHeaderCell>
                    <TableHeaderCell>Active</TableHeaderCell>
                    <TableHeaderCell>Birth Date</TableHeaderCell>
                    <TableHeaderCell>Hired Date</TableHeaderCell>
                    <TableHeaderCell Class="has-text-centered">Action</TableHeaderCell>
                </TableRow>
            </TableHeader>
            @if (employees != null && employees.Any())
            {
            <TableBody>
                @foreach (var emp in employees)
                    {
                <TableRow>
                    <TableRowCell>@(string.Format("{0:0000}", emp.EmployeeId))</TableRowCell>
                    <TableRowCell>
                        <a href="javascript:void(0)" @onclick="@(args => OnEmployeeDetails(emp.EmployeeId))" data-toggle="modal" data-target="#modalEmployeeDetails">@(emp.FirstName + " " + emp.LastName)</a>
                    </TableRowCell>
                    <TableRowCell>@emp.Age</TableRowCell>
                    <TableRowCell>@emp.Gender</TableRowCell>
                    <TableRowCell>@(Convert.ToBoolean(emp.Active) ? "Yes" : "No")</TableRowCell>
                    <TableRowCell>@(string.Format("{0:MMM / dd / yyy}", @emp.BirthDate))</TableRowCell>
                    <TableRowCell>@(string.Format("{0:MMM / dd / yyy}", @emp.HiredDate))</TableRowCell>
                    <TableRowCell Class="has-text-centered">
                        <Button Class="is-success is-small no-text" Clicked="@(args => OnEmployeeEdit(emp.EmployeeId))">
                            <span class="icon">
                                <i class="far fa-edit"></i>
                            </span>
                        </Button>
                        <Button Class="is-danger is-small no-text" Clicked="@(args => OnEmployeeDelete(emp.EmployeeId, emp.FirstName))" data-toggle="modal" data-target="#confirmDeleteDialog">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                        </Button>
                    </TableRowCell>
                </TableRow>
                    }
            </TableBody>
            }
            else
            {
            <TableFooter>
                <TableRow>
                    <TableRowCell Class="has-text-centered" ColumnSpan="8">No records found</TableRowCell>
                </TableRow>
            </TableFooter>
            }
        </Table>
    </div>
</div>

<ModalContentDialog TargetId="modalEmployeeDetails" Title="Employee Details">
    <EmployeeDetails EmployeeId="@selectedEmployeeId" />
</ModalContentDialog>

<ConfirmDeleteDialog TargetId="confirmDeleteDialog" SelectedItem="@selectedEmployeeName" OnClick="OnConfirmEmployeeDelete" />

@code {
    private int selectedEmployeeId;
    private string selectedEmployeeName;

    List<EmployeeDto> employees = new List<EmployeeDto>();

    protected override async Task OnInitializedAsync()
    {
        try 
        {
            employees = await employeeService.GetListAsync();
        }
        catch
        { 
        
        }
    }

    private void OnEmployeeAdd()
    {
        Navigation.NavigateTo("/employees/add", false);
    }

    private void OnEmployeeEdit(int id)
    {
        Navigation.NavigateTo($"/employees/edit/{id}", false);
    }

    private void OnEmployeeDetails(int id)
    {
        selectedEmployeeId = id;
    }

    private void OnEmployeeDelete(int id, string firstName)
    {
        this.selectedEmployeeId = id;
        this.selectedEmployeeName = firstName;
    }

    private async Task OnConfirmEmployeeDelete(string args)
    {
        var response = await employeeService.DeleteAsync(selectedEmployeeId);

        if (response)
        {
            toastService.ShowSuccess("Employee successfully updated.", "Success");
            employees = await employeeService.GetListAsync();
        }
        else
            toastService.ShowError("Your request failed.", "Failed");
    }
}