﻿@page "/employees/edit/{EmployeeId:int}"
@attribute [Authorize]

@inject NavigationManager Navigation
@inject IEmployeeService employeeService
@inject IUserService userService
@inject IToastService toastService

<div class="columns">
    <div class="column is-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit Employee
            </div>
            <div class="panel-block">
                <EditForm Model=@employee OnValidSubmit="@ValidFormSubmitted">

                    <DataAnnotationsValidator />

                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="UserId">User Login</label>
                                <SelectList Data="@userList"
                                            TextField="@((item) => item.Text)"
                                            ValueField="@((item) => item.Value)"
                                            SelectedValue="@employee.UserId"
                                            SelectedValueChanged="@(
                                                (value) => {
                                                    if (value.ToString().All(char.IsDigit))
                                                    {
                                                        employee.UserId = Convert.ToInt32(value);
                                                    }
                                                })" />
                                <ValidationMessage For="@(() => employee.UserId)" />
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="FirstName">First Name</label>
                                <InputText @bind-Value="employee.FirstName" class="form-control" id="firstname" />
                                <ValidationMessage For="@(() => employee.FirstName)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="PrefixName">Prefix Name</label>
                                <InputText @bind-Value="employee.PrefixName" class="form-control" id="prefixName" />
                                <ValidationMessage For="@(() => employee.PrefixName)" />
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="MiddleName">Middle Name</label>
                                <InputText type="text" @bind-Value="employee.MiddleName" class="form-control" id="middleName" />
                                <ValidationMessage For="@(() => employee.MiddleName)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="SuffixName">Suffix Name</label>
                                <InputText type="text" @bind-Value="employee.SuffixName" class="form-control" id="suffixName" />
                                <ValidationMessage For="@(() => employee.SuffixName)" />
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="LastName">Last Name</label>
                                <InputText @bind-Value="employee.LastName" class="form-control" id="lastname" />
                                <ValidationMessage For="@(() => employee.LastName)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="Age">Age</label>
                                <InputNumber @bind-Value="employee.Age" class="form-control" id="age" />
                                <ValidationMessage For="@(() => employee.Age)" />
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="BirthDate">Birth Date</label>
                                <InputDate @bind-Value="employee.BirthDate" class="form-control" id="birthDate" />
                                <ValidationMessage For="@(() => employee.BirthDate)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="Active">Active</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <InputSelect @bind-Value="employee.Active" class="form-control" id="active">
                                            <option value="">Please select an option</option>
                                            <option value="@Boolean.TrueString">Yes</option>
                                            <option value="@Boolean.FalseString">No</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => employee.Active)" />
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="HiredDate">Hired Date</label>
                                <InputDate @bind-Value="employee.HiredDate" class="form-control" id="hiredDate" />
                                <ValidationMessage For="@(() => employee.HiredDate)" />
                            </div>
                        </div>
                        <div class="column is-6 pb-0">
                            <div class="form-group mb-0">
                                <label for="Gender">Gender</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <InputSelect @bind-Value="employee.Gender" class="form-control" id="gender">
                                            <option value="">Please select an option</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => employee.Gender)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <Button Class="is-pulled-right" Type="ButtonType.Submit" Color="Color.Link" Style="margin-top: 20px;">
                            <span class="icon">
                                <i class="fas fa-pen"></i>
                            </span>
                            Update
                        </Button>
                    </div>
                </EditForm>

            </div>
        </div>
        <button class="button" @onclick="GoBackToList">
            <span class="icon">
                <i class="fas fa-angle-left"></i>
            </span>
            Go back to List
        </button>
    </div>
</div>

@code {
    [Parameter]
    public int EmployeeId { get; set; }
    public IEnumerable<SelectListModel> userList = null;

    public EmployeeDto employee = new EmployeeDto();

    protected override async Task OnInitializedAsync()
    {
        employee = await employeeService.GetByIdAsync(EmployeeId);

        var users = await userService.GetList();
        userList = users.Select(o => new SelectListModel { Value = o.Id, Text = o.DisplayName })
            .Append(new SelectListModel { Value = null, Text = "Please select a user" })
            .OrderBy(m => m.Value);
    }

    public async Task ValidFormSubmitted(EditContext editContext)
    {
        var viewmodel = await employeeService.UpdateAsync(employee);
        if (viewmodel.EmployeeId > 0)
        {
            toastService.ShowSuccess("Employee successfully updated.", "Success");

            GoBackToList();
        }
        else
        {
            toastService.ShowError("Your request failed.", "Failed");
        }
    }

    public void GoBackToList()
    {
        Navigation.NavigateTo("/employees", false);
    }
}