﻿@inject IEmployeeService employeeService
@inject IUserService userService

<EditForm Model=@employee>
    <div class="columns">
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="user">User</label>
                <InputText readonly="readonly" @bind-Value="user.DisplayName" class="form-control" id="user" />
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="FirstName">First Name</label>
                <InputText readonly="readonly" @bind-Value="employee.FirstName" class="form-control" id="firstname" />
            </div>
        </div>
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="PrefixName">Prefix Name</label>
                <InputText readonly="readonly" @bind-Value="employee.PrefixName" class="form-control" id="prefixName" />
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="LastName">Last Name</label>
                <InputText readonly="readonly" @bind-Value="employee.LastName" class="form-control" id="lastname" />
            </div>
        </div>
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="SuffixName">Suffix Name</label>
                <InputText readonly="readonly" type="text" @bind-Value="employee.SuffixName" class="form-control" id="suffixName" />
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="Age">Age</label>
                <InputNumber readonly="readonly" @bind-Value="employee.Age" class="form-control" id="age" />
            </div>
        </div>
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="Active">Active</label>
                 <div class="control">
                     <div class="select is-fullwidth">
                         <InputSelect readonly="readonly" disabled="disabled" @bind-Value="employee.Active" class="form-control" id="active">
                             <option value="">Please select an option</option>
                             <option value="@Boolean.TrueString">Yes</option>
                             <option value="@Boolean.FalseString">No</option>
                         </InputSelect>
                     </div>
                 </div>
                <ValidationMessage For="@(() => employee.Active)" />
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="BirthDate">Birth Date</label>
                <InputDate readonly="readonly" @bind-Value="employee.BirthDate" class="form-control" id="birthDate" />
                <ValidationMessage For="@(() => employee.BirthDate)" />
            </div>
        </div>
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="Gender">Gender</label>
               <div class="control">
                   <div class="select is-fullwidth">
                       <InputSelect readonly="readonly" disabled="disabled" @bind-Value="employee.Gender" class="form-control" id="gender">
                           <option value="">Please select an option</option>
                           <option value="M">Male</option>
                           <option value="F">Female</option>
                       </InputSelect>
                   </div>
               </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 pb-0">
            <div class="form-group mb-0">
                <label for="HiredDate">Hired Date</label>
                <InputDate readonly="readonly" @bind-Value="employee.HiredDate" class="form-control" id="hiredDate" />
            </div>
        </div>
    </div>
</EditForm>

@functions {
    [Parameter]
    public int EmployeeId { get; set; }

    public EmployeeDto employee = new EmployeeDto();
    public UserEditModel user = new UserEditModel();

    protected override async Task OnParametersSetAsync()
    {
        employee = await employeeService.GetByIdAsync(EmployeeId);
        if (employee.UserId != null)
        {
            user = await userService.GetById(employee.UserId.Value);
        }
    }
}