﻿<div class="modal fade" id="@TargetId" tabindex="-1" role="dialog" aria-labelledby="confirmDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header has-background-danger">
                <h4 class="modal-title has-text-white" id="confirmDialogLabel">Confirm Delete</h4>
                <button type="button" class="close has-text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this record - '@SelectedItem'?
            </div>
            <div class="modal-footer">
                <Button Class="is-danger" Clicked="@(() => OnClick.InvokeAsync(SelectedItem))" data-dismiss="modal">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                    Confirm Delete
                </Button>
                <Button Class="is-link" data-dismiss="modal">
                    <span class="icon">
                        <i class="fas fa-window-close"></i>
                    </span>
                    Cancel
                </Button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string TargetId { get; set; }

    [Parameter]
    public string SelectedItem { get; set; }

    [Parameter] 
    public EventCallback<string> OnClick { get; set; }

    protected override void OnInitialized()
    {

    }

    public void OnConfirmDelete()
    {

    }
}