﻿@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IUserSession userSession

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        @if (userSession.IsAuthenticated)
                        {
                            <figure class="image is-24x24 mr-2">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/24x24.png">
                            </figure>
                            @userSession.DisplayName
                        }
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a href="/logout" class="navbar-item">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-content px-4">
        @Body
    </div>
</div>

<BlazoredToasts SuccessIconClass="fa fa-check-circle" />