﻿<div class="modal fade" id="@TargetId" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header @(string.IsNullOrEmpty(HeaderClass) ? "has-background-link" : HeaderClass)">
                <h3 class="modal-title @(string.IsNullOrEmpty(HeaderTitleClass) ? "has-text-white" : HeaderTitleClass)" id="modalLabel">@Title</h3>
                <button type="button" class="close has-text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <Button data-dismiss="modal">
                    <span class="icon">
                        <i class="fas fa-window-close"></i>
                    </span>
                    Close
                </Button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string TargetId { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string HeaderClass { get; set; }

    [Parameter]
    public string HeaderTitleClass { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {

    }
}