﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <base href="~/" />

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="lib/buttercake/dist/css/butterCake.min.css" rel="stylesheet" />
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="css/account/styles.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)

    <script src="_framework/blazor.server.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/buttercake/dist/js/butterCake.js"></script>

</body>
</html>