﻿@page "/login"
@model BlazorApp.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_Layout.cshtml";
}

<!-- LOGIN CONTAINER -->
<section class="login-page flex-center-center py-5 bg-light">

    <!-- FORM -->
    <div class="w-100 mx-auto px-2" style="max-width: 400px">
        <form method="post">

            <div class="text-center text-gray">
                <h2 class="weight-500 mb-1">Login</h2>
                <p class="h4 weight-300">Please login to proceed</p>
            </div>

            <div class="card overflow-unset mt-7 mb-1">
                <div class="card-body">

                    <!-- AVATAR -->
                    <div class="avatar-icon text-center">
                        <img src="~/img/user_default_avatar.png" alt="Avatar"
                             class="img-circle img-cover card mb-2 ml-auto mr-auto p-1">
                    </div>

                    <!-- USERNAME -->
                    <div class="group">
                        <input type="text" asp-for="Input.Username" class="input form-control" placeholder="Username">
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>

                    <!-- PASSWORD -->
                    <div class="group">
                        <input type="password" asp-for="Input.Password" class="input form-control" placeholder="Password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- REMEMBER ME -->
                    <div class="group">
                        <div class="custom-checkbox">
                            <input type="checkbox" value="remember me" id="rememberMe">
                            <label for="rememberMe" class="text-gray">Remember Me</label>
                        </div>
                    </div>

                    <!-- LOGIN -->
                    <div class="group">
                        <button type="submit" class="btn primary block btn-lg weight-500">Login</button>
                    </div>

                </div>
            </div>

            <!-- LINKS -->
            <div class="text-center weight-600 text-gray">
                <a href="/register" class="text-gray">Sign Up</a> · <a href="" class="text-gray">Forgot Password</a> · <a href="" class="text-gray">Need Help?</a>
            </div>

            @Html.HiddenFor(m => m.ReturnUrl)
            @Html.AntiForgeryToken()

        </form>
    </div>

</section>