﻿@page "/register"
@model BlazorApp.Pages.Account.RegisterModel

@{
    ViewData["Title"] = "Register New Account";
    Layout = "_Layout.cshtml";
}

<!-- REGISTER CONTAINER -->
<section class="login-page flex-center-center py-5 bg-light">

    <!-- FORM -->
    <div class="w-100 mx-auto px-2" style="max-width: 400px">
        <form method="post">

            <div class="text-center text-gray">
                <h2 class="weight-500 mb-1">Register</h2>
                <p class="h4 weight-300">Register a new account</p>
            </div>

            <div class="card overflow-unset mt-7 mb-1">
                <div class="card-body">

                    <!-- AVATAR -->
                    <div class="avatar-icon text-center">
                        <img src="~/img/user_default_avatar.png" alt="Avatar"
                             class="img-circle img-cover card mb-2 ml-auto mr-auto p-1">
                    </div>


                    <!-- USERNAME -->
                    <div class="group">
                        <input type="text" asp-for="Input.Username" class="input form-control" placeholder="Username">
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>

                    <!-- USERNAME -->
                    <div class="group">
                        <input type="text" asp-for="Input.DisplayName" class="input form-control" placeholder="Display Name">
                        <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                    </div>


                    <!-- PASSWORD -->
                    <div class="group">
                        <input type="password" asp-for="Input.NewPassword" class="input form-control" placeholder="New Password">
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>

                    <!-- PASSWORD -->
                    <div class="group">
                        <input type="password" asp-for="Input.ConfirmPassword" class="input form-control" placeholder="Confirm Password">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    @if (Model.ShowValidationSummary)
                    {
                        <div asp-validation-summary="All"></div>
                    }

                    <!-- LOGIN -->
                    <div class="group">
                        <button type="submit" class="btn success block btn-lg weight-500">Register</button>
                    </div>

                </div>
            </div>

            <!-- LINKS -->
            <div class="text-center text-gray">
                <a href="/login" class="text-gray">Sign In</a> · <a href="" class="text-gray">Forgot Password</a> · <a href="" class="text-gray">Need Help?</a>
            </div>

            @Html.AntiForgeryToken()

        </form>
    </div>

</section>